{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1 class="text-center"> Liste des clients</h1>

<div class="col-12 text-right">
            <a  class ="btn btn-outline-primary" href=" {{ path('addCustomer') }} ">Ajouter Client</a>
</div>

                <table class="table m-5">

                        {% for customer in customer_liste  %}
                    <tr>

                        <th>{{ customer.nom }}</th>
                        <th>{{ customer.prenom }}</th>
                        <th>{{ customer.societe }}</th>
                        <th><a href=" {{ path('detailCustomer',{'id':  customer.id }) }} ">Détails</a></th>

                    </tr>

                        {% endfor %}

                </table>
                <br>

                <div class="row">

                    <div class="col-12 text-center">
                        <p>Pages</p>

                    </div>

                    <div class="col-12 text-center">
                    {% for i in 1..NbreDePage %}
                        <a href=" {{ path('Customer',{'page':  i }) }} "> {{ i }}</a>
                    {% endfor %}

                    </div>
                </div>

            </div>



        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
