{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">

                <h1> Détail  du client                     {{ customer[0].nom }}
                </h1>

                <p> Nom : {{ customer[0].nom }} </p>
                <p> Prénom : {{ customer[0].prenom }} </p>
                <p> Societé : {{ customer[0].societe }} </p>
                <p> adresse : {{ customer[0].adresse }} </p>
                <p> Fixe : {{ customer[0].numfixe }} </p>
                <p> Portable : {{ customer[0].numport }} </p>
                <p> Mail : {{ customer[0].mail }} </p>

                <a href=" {{ path('addCustomer', { 'id' :  customer[0].id  }) }}"> Modifier le client</a>




            </div>

            <a href="{{ path('Customer') }}">Retour à la liste</a>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
