{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">






                {% if customer[0] is defined %}

<div class="row">
                <div class="col-6">  
                    <div class="card   m-2" >
                        <div class="card-header">
                            <h5 class="card-title"> Détail du client {{ customer[0].nom }} {{ customer[0].prenom }} </h5>
                        </div>
                        <div class="card-body">

                            <p class="card-text"> Nom : {{ customer[0].nom }}</p>
                            <p class="card-text"> Prénom : {{ customer[0].prenom }}</p>
                            <p class="card-text"> Societe : {{ customer[0].societe }}</p>
                            <p class="card-text"> Adresse : {{ customer[0].adresse }}</p>
                            <p class="card-text"> Fixe : {{ customer[0].numfixe }}</p>
                            <p class="card-text"> Portable : {{ customer[0].numport }}</p>
                            <p class="card-text"> Mail : <a href="mailto:{{ customer[0].mail }} ">{{ customer[0].mail }}</a> </p>
                            <a class="btn btn-outline-primary" href=" {{ path('addCustomer', { 'id' :  customer[0].id  }) }}" class="card-link">Modifier le client</a>
                            <a class="btn btn-danger" href=" {{ path('deleteCustomer', { 'id' :  customer[0].id  }) }}" class="card-link">Supprimer</a>
                        </div>
                    </div>
                </div>

                <div class="col-6">  

                    <div class="card   m-2" >
                        <div class="card-header">
                            <h5 class="card-title"> Taches affectées  à {{ customer[0].nom }} {{ customer[0].prenom }} </h5>
                        </div>
                        <div class="card-body">

                            <table class="table table-striped">


                                <thead class="thead-dark">
                                <tr>
                                    <td> Taches </td>
                                    <td> Date de création</td>
                                    <td> Echéance</td>
                                    <td> Etat </td>
                                   <td> Action </td>

                                </tr>

                                </thead>
                                <tbody>
                                {% for tache in taches %}
                                    <tr>
                                        <td> {{ tache.tache|e }} </td>
                                        <td>  {{ tache.datecreation |date("m/d/Y") }}</td>
                                        <td> {{ tache.echeance | date("m/d/Y") }}</td>
                                        <td>   {{ tache.etat }} </td>
                                        <td><a href="{{ path('task_edit',{'id' : tache.id }) }}">Modifier</a> </td>

                                    </tr>

                                {% endfor %}
                                </tbody>

                            </table>


                            <a class="btn btn-outline-primary" href=" {{ path('task_new', { 'id_customer' :  customer[0].id  }) }}" class="card-link">Ajouter une tache</a>

                        </div>
                    </div>
                </div>
</div>            
            {% else %}
                <div class="col-6 mx-auto ">
                <p class="text-center text-danger font-weight-bold font-weight-bold bg-warning p-2 border border-danger">Le client n'existe pas !!!</p>

                </div>
            {% endif %}

            </div>

            <div class="col-12 text-center">
                <a class="btn btn-outline-primary m-2" href="{{ path('Customer') }}">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
