<ul class="nav m-2">
    <li class="nav-item">
        <a class="nav-link active" href=" {{ path('homepage') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href=" {{ path('Customer') }}">Liste des clients</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=" {{ path('addCustomer') }}">Ajouter un client</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=" {{ path('task_index', { 'etat' :'toutes'}) }}">Toutes les taches</a>
    </li>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
       <li class="nav-item">
        <a class="nav-link" href=" {{ path('logout') }}">Déconnexion</a>
    </li>
{% else %}
       <li class="nav-item">
        <a class="nav-link" href=" {{ path('createaccount') }}">Création de compte</a>

{% endif %}

</ul>