{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks list</h1>


    <p>liste des etats</p>


    <a href="{{ path('task_index', {'etat' : 'toutes' })}}"> Toutes les taches</a>

    {% for etat in etats %}
     <a href="{{ path('task_index', {'etat' : etat })}}">Taches {{ etat }}</a>
 {% endfor %}
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Taches</th>
                <th>Etat</th>
                <th>Echeance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.tache }}</td>
                <td>{{ task.etat }}</td>
                <td>{{ task.echeance |date('d,M,Y') }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
